# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = <projectname>.settings

[deploy:test]
url = <url>:<port>
project = <projectname>


[deploy:production]
url = <url>
# basic http auth on scraptd deployment
username = <username>
password = <password>
project = <projectname>
