.vagrant
temp

*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
**/Gemfile.lock
**/gems.locked
**/bin/*
**/.bundle/*

# test kitchen
**/.kitchen/
**/.kitchen.local.yml

# Chef
**/Berksfile.lock
**/.zero-knife.rb
**/Policyfile.lock.json

# node
**/node_modules

**/.env
**/.venv

**/.ipynb_checkpoints

**/.pyc

**/__pycache__

.terraform.lock.hcl

terraform-bin

terraform.tfstate**

**.terraform

**Pipfile.lock