[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-core = "*"
langchain-community = "*"
pypdf = "*"
langchain-ollama = "*"
langchain-chroma = "*"

[dev-packages]

[requires]
python_version = "3.11"
