[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pyspark = {extras = ["connect", "sql"], version = "*"}
notebook = "*"

[dev-packages]

[requires]
python_version = "3.10"
