[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
esprima = "*"
tree-sitter = "*"
tree-sitter-languages = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.11"
