{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "defaults", // target default browsers
        "shippedProposals": true // include proposal features/builtins that are shipped in browsers
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
