[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langchain-ollama = "*"
langchain-core = "*"
langchain-community = "*"
langgraph-checkpoint-sqlite = "*"

[dev-packages]

[requires]
python_version = "3.11"
