[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-text-splitters = "*"
langchain-community = "*"
langgraph = "*"
langchain-core = "*"
langchain-ollama = "*"
beautifulsoup4 = "*"
langchain-chroma = "*"
langgraph-checkpoint-sqlite = "*"

[dev-packages]

[requires]
python_version = "3.11"
